{% extends "squadManager/base.html" %}
{% block body_attrs %}{% endblock %}
{% block title %}Home · Intergalactic Squad Manager{% endblock %}

{% block content %}
  <div class="grid cols-2">
    {% if user.is_authenticated %}
    <section class="card">
      <div class="pill">Welcome!</div>
      <p class="small muted">You are logged in as <strong>{{ user.username }}</strong></p>
      <hr class="hr" />
      <div class="row row-fixed">
        <a href="{% url 'search_characters' %}" class="pill">Recruit characters</a>
        <a href="{% url 'squad_page' %}" class="pill secondary">My squad</a>
      </div>
    </section>
    <section class="card">
      <hr class="hr" />
      <div class="row row-fixed">
        <a href="{% url 'logout_page' %}" class="pill danger">Logout</a>
      </div>
    </section>
    {% else %}
    <section class="card">
      <div class="pill">1) Authentication</div>
      <p class="small muted">Login or create an account to get started.</p>
      <hr class="hr" />
      <div class="row row-fixed">
        <a href="{% url 'login_page' %}" class="pill">Login</a>
        <a href="{% url 'register_page' %}" class="pill secondary">Register</a>
      </div>
    </section>
    {% endif %}

    <section class="card">
      <div class="pill">Learn more</div>
      <p class="small muted">Rick & Morty: Intergalactic Squad Manager</p>
      <p class="small muted">
        Recruit characters and form your squad! The squad acts as a “favorites” list, where you can add 
        various characters along with their roles and notes. You can search, scroll through the page to find more characters
        based on the name you entered, and add them to your squad!
      </p>
    </section>
  </div>

{% endblock %}